<%= form_with(model: @twet, local: true) do |form| %>
 <% if @twet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @twet.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @twet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <ul class="row">
      <div class="twet_contain">
        <li class="col-sm-12 col-md-3">新規作成</li>
        <li class="col-sm-12 col-md-3"><%= form.label :本文 %></li>
        <li class="col-sm-12 col-md-3 form_text"><%= form.text_field :content %></li>
        <li class="col-sm-12 col-md-3 form_text"><%= form.submit %></li>
      </div>
      <% end %>
</div>
</body>
