<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    <header>
      <nav>
        <ul class="menu clearix">
          <li><a href="https://nkkaito-kaitonakazaki.c9users.io/home">Home</a></li>
          <li><%=link_to "つぶやき一覧", twets_path %></li>
          <!--<li><a href="https://nkkaito-kaitonakazaki.c9users.io/twets">つぶやき一覧</a></li>-->
          <li><a href="https://nkkaito-kaitonakazaki.c9users.io/twets/new">新規投稿</a></li>
        </ul>
      </nav>
    </header>
    <body>
    <%= yield %>
    
    <article></article>
  </body>
<footer class="footer"><p>May Kaito Nakazaki</p></footer>

</html>
